fastapi
uvicorn
pandas
numpy
scikit-learn
joblib
matplotlib
seaborn
prophet
torch
torchvision
pillow
openpyxl
python-multipart
shap
python-jose
passlib[bcrypt]
xgboost
lightgbm
catboost
optuna
openai
python-dotenv
pymongo
